@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #141414;
  --color-light: #fefae0;
  --border: 0 0% 89.8%;
}

@layer utilities {
  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .clip-triangle-inverted {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}
